.icon-48-mdimpressums {
      background-image: url(../images/l_mdimpressums.png);
      padding-left:60px!important;
}

.icon-48-mdimpressum {
      background-image: url(../images/l_mdimpressums.png);
      padding-left:60px!important;
}

.icon-48-dashboards {
      background-image: url(../images/l_dashboards.png);
      padding-left:60px!important;
}

.icon-48- {
      background-image: url(../images/l_dashboards.png);
      padding-left:60px!important;
}

.icon-48-laws {
      background-image: url(../images/l_laws.png);
      padding-left:60px!important;
}

.icon-48-law {
      background-image: url(../images/l_laws.png);
      padding-left:60px!important;
}

.icon-48-prodatenschutzm {
      background-image: url(../images/l_prodatenschutzm.png);
      padding-left:60px!important;
}

.icon-48-prodatenschutz {
      background-image: url(../images/l_prodatenschutzm.png);
      padding-left:60px!important;
}

.icon-48-prodaten2s {
      background-image: url(../images/l_prodaten2s.png);
      padding-left:60px!important;
}

.icon-48-prodaten2 {
      background-image: url(../images/l_prodaten2s.png);
      padding-left:60px!important;
}

.icon-48-prodaten3s {
      background-image: url(../images/l_prodaten3s.png);
      padding-left:60px!important;
}

.icon-48-prodaten3 {
      background-image: url(../images/l_prodaten3s.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}